files:
    /opt/elasticbeanstalk/hooks/appdeploy/post/01_docker_nat.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            set -u # Fail on unset variables
            set -e # Fail if any command fails
            PATH="$PATH:/sbin:/usr/bin"
            # Flush DOCKER rules
            iptables -t nat --flush DOCKER
            cx=$(docker ps -q)
            cx_ip=$(docker inspect $cx | jq -r '.[0].NetworkSettings.IPAddress')
            iptables -t nat -A DOCKER -p tcp --dport 7800 -j DNAT --to-destination ${cx_ip}:7800
            iptables -t nat -A DOCKER -p tcp --dport 7899 -j DNAT --to-destination ${cx_ip}:7899
            iptables -L -n -t nat
